.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
  background: url(/src/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0;

  @include breakpoint("tablet") {
    background: url(/src/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -50px;
  }
}
